<section>
    <div id="tap-counter">{{ tapCount }}</div>
    <div id="tap-image" (click)="userTap()">
        <img src="../../../assets/tapOff.png" alt="Tap off" [ngClass]="{'tap-hide': isTapped}">
        <img src="../../../assets/tapOn.png" alt="Tap on" [ngClass]="{'tap-hide': !isTapped}">
    </div>
    <div id="tap-timer-progress" [style.width]="progressionPercentage+'%'"></div>
</section>