<h1>{{ title }}</h1>
<p>{{ subtitle }}</p>
<div class="buttons" *ngIf="status === 'playing'">
    <button>Scores</button>
    <button (click)="logout()">Logout</button>
</div>
<div class="buttons" *ngIf="status === 'leaderboard'">
    <button>Play</button>
    <button (click)="logout()">Logout</button>
</div>