<form autocomplete="off" novalidate [formGroup]="form" (submit)="submitForm()">
    <label for="first_name-register">Prénom</label>
    <input type="text" name="first_name-register" id="first_name-register" required formControlName="first_name">
    <label for="last_name-register">Nom</label>
    <input type="text" name="last_name-register" id="last_name-register" required formControlName="last_name">
    <label for="email-register">Email</label>
    <input type="email" name="email-register" id="email-register" required minlength="5" formControlName="email">
    <label for="password-register">Mot de passe</label>
    <input type="password" name="password-register" id="password-register" required minlength="5" formControlName="password">
    <label for="valid_password-register">Confirmation du mot de passe</label>
    <input type="password" name="valid_password-register" id="valid_password-register" required minlength="5" formControlName="valid_password">
    <button type="submit" [disabled]='!form.valid'>S'inscrire</button>
</form>